{{> partials/navbar }}

<div class="container">
    <div class="row">

   
    <div class="row">
      <div class="contenedor">
        <h2 class="mt-2 text-center">Sistema de busqueda de ordenes</h2>
        <hr>
         <p class="mt-3">{{> partials/title}}</p>
         <div class="formulario">
            <select name="store_id" id="store_id">
                <option value="-1" selected="">Todas las Tiendas</option>
            </select>
            <select name="category_id" id="category_id">
                <option value="-1" selected="">Todas las Categorias</option>
            </select>
            <select name="brand_name" id="brand_name">
                <option value="-1" selected="">Todas las Marcas</option>
            </select>
            <input id="enviar" type="submit" value="Buscar">
            <input id="reset" type="submit" value="Reset">
         </div>
        <div class="mb-4">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Tienda</th>
                    <th scope="col">ID Producto</th>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Inventario</th>
                    <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="infoTable">
                  
                </tbody>
            </table>

        </div>
      </div>

        <!-- Modal Mensaje -->
        <div class="modal fade" id="mensajesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-body text-center text-uppercase my-2">
                <span id="mensaje">Usuario Eliminado !!</span>
            </div>
            </div>
        </div>
        </div>

