{{> partials/navbar }}

<div class="container">
  
    <div class="row">
      <div class="contenedor">
         <p class="mt-3">{{> partials/title}}</p>
         <div class="formulario">
            <select class="form-select" name="store_id" id="store_id">
                <option value="-1" selected="">Todas las Tiendas</option>
            </select>
            <select class="form-select" name="category_id" id="category_id">
                <option value="-1" selected="">Todas las Categorias</option>
            </select>
            <select class="form-select" name="brand_name" id="brand_name">
                <option value="-1" selected="">Todas las Marcas</option>
            </select>
            <input id="enviar" type="submit" value="Buscar">
            <input id="reset" type="submit" value="Reset">
         </div>
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Tienda</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="infoTable">
                  
                </tbody>
            </table>
        </div>
      </div>
    </div>

</div>

<!-- Modal Mensaje -->
<div class="modal fade" id="mensajesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            {{#unless logout}}
            <div class="modal-header">
                <h5 class="infoTienda my-0"></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{/unless}}
            <div class="modal-body text-center text-uppercase my-2" id="infoModal">
                {{#if logout}}
                    {{> partials/logout}}
                {{/if}}
            </div>
            </div>
        </div>
</div>

 <!-- Modal Mensaje -->
<div class="modal fade" id="mensajeLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-body text-center text-uppercase my-2">
                <span class="mensaje">Autenticado con éxito! Serás redirigido a tu perfil de usuario, Tu token está en SessionStorage!!</span>
            </div>
            </div>
    </div>
</div>
    

{{!-- Vinculamos Javascript personal --}}
<script type="module" src="/js/app.js"></script>