{{> partials/navbar }}

<div class="container">
    <div class="row">
      <form autocomplete="off">
        <h2 class="mt-2 text-center">Bienvenido Terricola a BikeShop 游놓</h2>
        <hr>
        <p class="mt-3">{{> partials/title}}</p>
        <div class="mb-4">
            <input type="email" class="form-control" id="email" placeholder="Ingrese Email">
        </div>
        <div class="mb-4">
            <input type="password" class="form-control" id="password" placeholder="Ingrese Password">
        </div>
        <div class="mb-3">
            <button id="ingresar" class="btn btn-success m-auto text-uppercase">Ingresar</button>
        </div>
      </form>
   
    </div>
    
    <div class="row">
       <div class="alert alert-danger" role="alert">
        Recuerda el administrador debe activar tu cuenta, el ya se encuentra notificado danos unos minutos y podras ingresar !!
      </div>
    </div>

</div>

<!-- Modal Mensaje -->
<div class="modal fade" id="mensajeLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center text-uppercase my-2">
                <span id="mensaje">Autenticado con 칠xito! Ser치s redirigido al Dashboard de administraci칩n, Tu token est치 en SessionStorage!!</span>
            </div>
        </div>
    </div>
</div>


<script>

   document.querySelector('.contentSpinnerLoading').style.display = 'none';   
   let ingresar = document.querySelector("#ingresar");

   ingresar.addEventListener('click',(e)=>{
        e.preventDefault();
        console.log('Verificar--->', 'FUNCIONA CLICK')
        verificacion();
   })

   const verificacion = ()=>{

        let email = document.querySelector("#email").value
        let password = document.querySelector("#password").value

        axios.post('/verify',{
            email,
            password
        }).then( result =>{
            const token = result.data
            $('#mensajeLogin').modal('toggle');
            sessionStorage.setItem('token', JSON.stringify(token) )
            setTimeout(()=>{
              $('#mensajeLogin').modal('toggle'); 
              window.location.href = `/admin?token=${token}`
            },3000)
        })
        .catch( ({response}) =>{
            
            console.log( 'Salida de response-->', response )
            $('#mensajeLogin').modal('toggle');
            $('#mensaje').html(`${response.data.error}`)

            setTimeout(()=>{
              $('#mensajeLogin').modal('toggle'); 
            },3000)
                
        })        

   }
   
</script>